<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <style>
    .v-enter,
    .v-leave-to{
      opacity: 0;
      transform: translateX(80px)
    }
    .v-enter-active,
    .v-leave-active{
      transition:all 0.4s ease;
    }
    .my-enter,
    .my-leave-to{
      opacity: 0;
      transform: translatey(80px)
    }
    .my-enter-active,
    .my-leave-active{
      transition:all 0.4s ease;
    }
  </style>
</head>
<body>
  <div id="app">
    <input type="button" value="切换" @click="flag1=!flag1">
    <transition>
        <h3 v-if="flag1">这是一个h3</h3>
    </transition>
    <hr>
    <input type="button" value="切换" @click="flag2=!flag2">
    <transition name="my">
        <h4 v-if="flag2">这是一个h4</h4>
    </transition>
   
  </div>
  <script>
    var vm = new Vue({
      el:'#app',
      data:{
        flag1:false,
        flag2:false
      },
      methods:{

      }
    })
  </script>
</body>
</html>