<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="app">
  <input type="text" v-model="n1">
  <select name="" id="">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="text"v-model="n2">
  <input type="button" value="=">
  <input type="text" v-model="result">
  </div>
  <script>
  var vm = new Vue({
    el:'#app',
    data:{
      n1,
      n2,
      result
    }
  })
  </script>
  
</body>
</html>